NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_dGVhY2hpbmctb3lzdGVyLTYuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_5ol6kquavMD2nPCLvAM0e5EjzEYhUP8boIpHBrAQUE

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/onboarding
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/

MONGODB_URL=mongodb+srv://geotsinis:zzj7YlJdj4gh614x@cluster0.clq3tia.mongodb.net/?retryWrites=true&w=majority

MONGO_USERNAME_PASS=zzj7YlJdj4gh614x

UPLOADTHING_SECRET=sk_live_7348992bf10ea24b74125b5d3b59a0b18b96e50c46a4185c15e1efcf32e93f42
UPLOADTHING_APP_ID=94xrs9463a